<a href="https://colab.research.google.com/github/Sajanj708/Entri_-D30_DataScience_Python/blob/main/Python_Task_2_List%2CTuple%2CDict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LIST**,**TUPLE**,**DICTIONARY**

#**1. Write a python program to sum all items in a list.**

In [ ]:
list = [1,2,3,4,5]
total = sum(list)
print(" The sum of the list is:",total)

 The sum of the list is: 15

# **2. Write a python program to get the largest number from a list.**

In [ ]:
list = [11,33,223,44,55]
largest = max(list)
print("The largest number in the list is", largest)

The largest number in the list is 223

#**3. write a python program  to count the number of strings from a given list of strings.The string length is 2 or more the first and last characters are the same.**

#Sample List : ['abc','xyz','aba','1221']

#Expected Result:2

In [ ]:
string_list = [ 'abc','xyz','aba','1221']
count = 0
for string in string_list:
  if (len(string) >=2 and string[0] == string[-1]):
    count += 1
print(f"Number of strings that meet the conditions:{count}")

Number of strings that meet the conditions:2

# **4.write a python program to remove duplicates from the list.**

In [ ]:
list = [1,2,2,3,4,4,5,6,6,7]
new_list = []
remove_duplicates = set(list)
print("List without duplicates:",remove_duplicates)

List without duplicates: {1, 2, 3, 4, 5, 6, 7}

# **5.write a python program to check if a list is empty or not.**

In [ ]:
list = [1,2,3,4,5,6,7]
if not list:
  print("The list is empty")
else:
  print("The list is not empty")

The list is not empty

# **6.Write a python program to filter the list if the length of the character is < 4 .**
# **Sample List : ['abc','xyz','aba',1221']**

#**Expected List:['abc','xyz','aba']**

In [ ]:
sample_list = ['abc','xyz','aba','1221']
filtered_list = [item for item in sample_list if len(item)< 4]
print(filtered_list)

['abc', 'xyz', 'aba']

# **7. write a python program to find the second largest number in a list.**

In [ ]:
number = [22,45,36,48,69,68,71]
number.sort()
second_largest = number[-2]
print("The second largest number in the list is:",second_largest)

The second largest number in the list is: 69

# **8. Write a python program to reverse a list at a specific location.**

In [ ]:
list = [1,2,3,4,5,6,7]
list.reverse()
print(list)

[7, 6, 5, 4, 3, 2, 1]

# **9.Write a python program to check if a list is palindrome or not.Return true otherwise false.**

In [ ]:
def is_palindrome(list):
  return True == list[::-1]
  return False != list[::-1]

list = [1,2,3,4,3,2,1]


if list == list[::-1]:

  print("The list is palindrome:",True)


else:
  print("The list is not palindrome:",False)

The list is palindrome: True

# **10.Write a python program to find the union and intersection of two list.**

In [ ]:
def union(list_1,list_2):     #define union and intersection
  union =set (list_1 + list_2)
  return union
def intersection(list_1,list_2):
  intersection = set(list_1) & set(list_2)
  return intersection

list_1 =[1,2,3,4,5]
list_2 = [1,3,5,7,9]
print(union(list_1,list_2))
print(intersection(list_1,list_2))

{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5}

# **11.Write a python script to sort(ascending and descending) a dictionary by value.**

In [ ]:
fruits = {'appple':100,'mango':150,'orange':250,'papaya':50}
print(sorted(fruits.items(),key = lambda item:item[1]))
print(sorted(fruits.items(),key = lambda item:item[1],reverse = True))

[('papaya', 50), ('appple', 100), ('mango', 150), ('orange', 250)]
[('orange', 250), ('mango', 150), ('appple', 100), ('papaya', 50)]

# **12.Write a python script to check whether  a given key already exists in a dictionary.**

In [ ]:
mydict={'apple':100
        ,'orange':250
        ,'banana':50
        ,'pineapple':50}
key_to_check = 'orange'
if key_to_check in mydict:
  print(f"The key'{key_to_check}'exists in the dictionary.")
else:
  print(f"The key'{key_to_check}'does not exist in the dictionary.")

The key'orange'exists in the dictionary.

# **13.Write a python program to sum all values in a dictionary.**

In [ ]:
mydict={'a':15,'b':35,'c':2,'d':3}
sum_values = sum(mydict.values())
print(sum_values)

55

#**14.write a python  program to create a dictionary with a number and its corresponding square from 1 to input  number.And also check if the input number is less than 10**.

Eg:

Input:3

Output :{1:1, 2:4 ,3:9}

In [16]:
def square_dict(n):
  if n<10:
    print("Input number is less than 10")
  square_dict = {i:i**2 for  i in range(1,n+1)}
  return square_dict




num_input = 3
result =square_dict(num_input)
print(result)

Input number is less than 10
{1: 1, 2: 4, 3: 9}

#**15.Write a python program to sort a given dictionary by key.**

In [20]:
def sort_dict(my_dict):
  return dict(sorted(my_dict.items()))

my_dict = {'apple':100,'orange':250,'banana':150,'pineapple':110}
sorted_dict = sort_dict(my_dict)
print(sorted_dict)

{'apple': 100, 'banana': 150, 'orange': 250, 'pineapple': 110}

# **16.Write a python program to create a dictionary from a string**.
NOTE:Track the count of the letters from the string.

Sample string:  'learnpython'

In [ ]:
def count_letters(s):
  letter_count = {}
  for letter in s:
    if letter in letter_count:
      letter_count[letter]+=1
    else:
        letter_count[letter]=1
  return letter_count
s = 'learnpython'
result = count_letters(s)
print(result)

{'l': 1, 'e': 1, 'a': 1, 'r': 1, 'n': 2, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}

#**17.Write a python program to get the top three items in a shop.**
Sample data:{'item1':45.50, 'item2':35, 'item3:41.30 , 'item4':55, 'item5':24}


Expected Output:

item4 55

item1 45.5

item3 41.3

In [24]:
my_dict = {'item1':45.5,'item2':35,'item3':41.3,'item4':55,'item5':24} #we want to get top three items.
items = sorted(my_dict.items(),key=lambda x:x[1],reverse=True)
print(items[:3])

[('item4', 55), ('item1', 45.5), ('item3', 41.3)]