<a href="https://colab.research.google.com/github/Sajanj708/Entri_-D30_DataScience_Python/blob/main/Python_Task_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Excercise 1: Create a function with a default argument.**

##Write a program to create a function show_employee() uing the following conditions.
**>** It should accept the employee's name and salary and display both.

**>** if the salary is missing in the function call then assign default value 9000 to salary.

**Given:**

showEmployee("Ben",12000)

showEmployee("Jessa")

In [ ]:
def show_employee(name,salary=9000):
  print(f"Name:{name} salary:{salary}")
  return

show_employee("Ben",12000)
show_employee("Jessa")

Name:Ben salary:12000
Name:Jessa salary:9000

#**Excercise 2:Create an inner function to calculate the addition in the following way.**

**> Create an outer function that will accept two parameters ,a and b.**


**> Create an inner function inside an outer function that will calculate the adition of a and b.**

**>At last, an outer function will add 5 into addition and erturn it.**

In [ ]:
def outer(a,b):
  def inner():
    return a+b
  result = inner()
  return result +5

print(outer(3,4))

12

#**Excercise 3:Generate a python list of all even numbers between 4 to 30.**

In [ ]:
my_list = [i for i in range(4,31)if i%2==0]
print(my_list)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

#**Excercise 4: Lambda Function to check if value is in a list.**

##Given a list, the task is to write a python program to check if the value exists in the list or not using the lambda function.

##Input : L = [1,2,3,4,5,6]
      element = 4

##Input : L = [1,2,3,4,5,6]
      element = 8

##Output : Element is NOT present in the list.

In [ ]:
L =[1,2,3,4,5,6]
element = 4
exists = list(filter(lambda x:x == element,L))
element = 8
exists = list(filter(lambda x:x == element,L))
if exists:
  print("Element is present in the list")
else:
  print("Element is NOT present in the list")

Element is NOT present in the list

##**Excercise 5 : Sort list of tuples with their sum.**

sort the points based on their sum of elements in the tuples

points = [(1,2),(5,3),(0,7),(3,1)]

In [ ]:
Points =[(1,2),(5,3),(0,7),(3,1)]
sorted_points= sorted(Points,key=lambda x: sum(x))
print(sorted_points)

[(1, 2), (3, 1), (0, 7), (5, 3)]

##**Excercise : 6**

##Write a python function, which will find all such numbers between 1000 and 3000(both included) such that each digit of the number is an even number.Return the result as a list.

In [9]:
def find_even_numbers():
  even_numbers=[]
  for number in range(1000,3001):
    str_number = str(number)
    if all(int(digit) % 2 ==0 for digit in str_number):

      even_numbers.append(number)
  return even_numbers

result =  find_even_numbers()
print(result)

[2000, 2002, 2004, 2006, 2008, 2020, 2022, 2024, 2026, 2028, 2040, 2042, 2044, 2046, 2048, 2060, 2062, 2064, 2066, 2068, 2080, 2082, 2084, 2086, 2088, 2200, 2202, 2204, 2206, 2208, 2220, 2222, 2224, 2226, 2228, 2240, 2242, 2244, 2246, 2248, 2260, 2262, 2264, 2266, 2268, 2280, 2282, 2284, 2286, 2288, 2400, 2402, 2404, 2406, 2408, 2420, 2422, 2424, 2426, 2428, 2440, 2442, 2444, 2446, 2448, 2460, 2462, 2464, 2466, 2468, 2480, 2482, 2484, 2486, 2488, 2600, 2602, 2604, 2606, 2608, 2620, 2622, 2624, 2626, 2628, 2640, 2642, 2644, 2646, 2648, 2660, 2662, 2664, 2666, 2668, 2680, 2682, 2684, 2686, 2688, 2800, 2802, 2804, 2806, 2808, 2820, 2822, 2824, 2826, 2828, 2840, 2842, 2844, 2846, 2848, 2860, 2862, 2864, 2866, 2868, 2880, 2882, 2884, 2886, 2888]

#**Excercise 7:**
Write a python function that accepts a scentence and calculate and return the number of letters and digits.

Suppose the following input is supplied to the program:

hello world!123

Then, the output should be:

LETTERS 10

DIGITS 3

In [ ]:
def count_letters_and_digits(sentence):
  letters = sum(char.isalpha()for char in sentence)
  digits = sum(char.isdigit() for char in sentence)
  return letters,digits

sentence = "hello world!123"
letters,digits =count_letters_and_digits(sentence)
print(f"LETTERS {letters}")
print(f"DIGITS {digits}")

LETTERS 10
DIGITS 3

##**Excercise 8 MAP:**

Write a python program to convert all the characters into uppercase and lowercase and eliminate duplicate letters from a given sequence.use the map() function

In [ ]:
def upper_and_lower(s):


#convert uppercase to lowercase
  upper = s.upper()
  lower = s.lower()
#Eliminate duplicate letters
  unique_upper = ''.join(sorted(set(upper),key=upper.index))
  unique_lower = ''.join(sorted(set(lower),key=lower.index))
  return unique_upper,unique_lower

#Sample sequence

sequence = "Hello World"

#Use map function to apply upper_and_lower to the sequence
result = list(map(upper_and_lower,[sequence]))[0]

#print result
print("uppercase without duplicates:", result[0])
print("Lowercase without duplicates:",result[1])

uppercase without duplicates: HELO WRD
Lowercase without duplicates: helo wrd

#**Excercise 9 MAP:**
Write a python program to element wise add two given lists and find the difference between them. use the map() function

In [ ]:
#Function to add two numbers

def add(x,y):
  return x+y

#Function to subtract two numbers

def subtract(x,y):
  return x-y

list1 = [1,2,3,4,5]
list2 = [5,4,3,2,1]

#Use map function to apply add and subtract element-wise

added_list = list(map(add,list1,list2))
subtracted_list = list((map(subtract,list1,list2)))

#print result
print("Element-wise addition:",added_list)
print("Element-wise subtraction",subtracted_list)

Element-wise addition: [6, 6, 6, 6, 6]
Element-wise subtraction [-4, -2, 0, 2, 4]

##**Excercise 10 Filter:**
Write a python program to filter the height and weight of students,which are stored in a dictionary using lambda.

Original Dictionary:

{'Cierra vega':(6.2,71),'Alden Cantrell':(5.9,65),'Kierra Gentry':(6.0,68),
'Pierre Cox':(5.8,66)}

Height>6ft and Weight>70kg:

{'Cierra Vega':(6.2,71)}

In [ ]:
students ={
    'Cierra Vega':(6.2,71),
    'Alden Cantrell':(5.9,65),
    'Kierra Gentry':(6.0,68),
    'Pierre Cox':(5.8,66)
}

                                                                                        #Filter function using lambda
students=dict(filter(lambda item: item[1][0]>6 and item[1][1] > 70,students.items()))
                                                                                        #print results
print("Height > 6ft and weight >70kg:")
print(students)

Height > 6ft and weight >70kg:
{'Cierra Vega': (6.2, 71)}

#**Excercise 11 Filter:**
Write a python program to remove all elements from a given list present in another list using lambda.

Original lists:

list 1:[1,2,3,4,5,6,7,8,9,10]

list2:[2,4,6,8]

Remove all elements from 'list1' present in 'list2':

[1,3,5,7,9,10]

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10]
list2 = [2,4,6,8]

#Use filter and lambda to remove elements elements from list1 that are present in list2

filtered_list = list(filter(lambda x:x not in list2 ,list1))
print("Remove all elements from 'lists1' present in 'list2':")
print(filtered_list)

Remove all elements from 'lists1' present in 'list2':
[1, 3, 5, 7, 9, 10]

#**Excercise 12 Reduce:**
Write a python program to calculate the product of a given list of numbers using lambda.

list1:[1,2,3,4,5,6,7,8,9,10]

product of the said list numbers:

3628800

In [ ]:
from functools import reduce
list1=[1,2,3,4,5,6,7,8,9,10]
#Calculate the product using reduce and lambda
product = reduce(lambda x,y:x*y,list1)

print("Product of the said list numbers:")
print(product)

Product of the said list numbers:
3628800

#**Excercise 13 Reduce:**
Write a python program to multiply all the numbers in a given list using lambda.

Original list:

[4,3,2,2,-1,18]

multiply all the numbers of the said list:-864

In [ ]:
from functools import reduce
list1 = [4,3,2,2,-1,18]

#Calculate the product using reduce and lambda

product = reduce(lambda x,y:x*y,list1)

print("Original list")
print(list1)
print("Multiply all the numbers of the said list:")
print(product)

Original list
[4, 3, 2, 2, -1, 18]
Multiply all the numbers of the said list:
-864

#**Excercise 14 Reduce**:
Write a python program to calaculate the average value  of the numbers in a given tuple of tuples using lambda.

Original Tuple:

((10,10,10),(30,45,56),(81,80,.39),(1,2,3))


Average value of the numbers of the said tuple of tuples:

(30.5,34.25,27.0)

In [ ]:
from functools import reduce
tuple_of_tuples = ((10,10,10),(30,45,56),(81,80,39),(1,2,3))

#Calculate the average value using reduce and lambda
average_values =tuple(map(lambda nums:round(sum(nums)/len(nums),2),zip(*tuple_of_tuples)))

#print the result
print("Original Tuple:")
print(tuple_of_tuples)
print("Average value of the numbers of the said tuple of tuples:")
print(average_values)

Original Tuple:
((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))
Average value of the numbers of the said tuple of tuples:
(30.5, 34.25, 27.0)

#**Excercise 15:**
Write  a python program to sort a given mixed list of integers and strings using lambda. Numbers must be sorted before strings.

Original list:

[19 ,'red' ,12 ,'green',  'blue', 10,  'white' , 'green' ,1]

sort the said mixed list of intergers and strings:

[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

In [4]:
List = [19,'red',12,'green','blue',10,'white','green',1]
numbers = sorted([x for x in List if isinstance(x, int)])
strings = sorted([x for x in List if isinstance(x, str)])
sorted_list = numbers + strings

print("Original list:")
print(List)
print("sorted_list:")
print(sorted_list)

Original list:
[19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]
sorted_list:
[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

#**Excercise 16 :**
Write a python program to count the occurences of items in a given list using lambda.

Original list:

[3, 4 ,5 ,8 ,0 ,3 ,8 ,5 ,0 ,3 ,1 ,5 ,2 ,3 ,4 ,2]

Count the occurences of items in the said list:

{3:4, 4:2 ,5:3 ,8:2 ,0:2 ,1:1 ,2:2}

In [5]:
from functools import reduce
Original_list = [3,4,5,8,0,3,8,5,0,3,1,5,2,3,4,2]

#use reduce and lambda to count occurences

count_dict = reduce(lambda acc, x:{**acc, x: acc.get(x,0) + 1},Original_list,{})

print("Original_list:")
print(Original_list)
print("Count the occurences of the items in the said list:")
print(count_dict)

Original_list:
[3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]
Count the occurences of the items in the said list:
{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

#**Excercise 17:**
Write a python program to remove None values from a given list using the lambda function.

Original list:

[12, 0 , None, 23, None, -55, 234, 89, None, 0, 6, -12]

Remove None value from the said list:

[12, 0, 23, -55, 234, 89, 0, 6, -12]

In [6]:
Original_list = [12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]

#Use filter and lambda to remove None values

filtered_list = list(filter(lambda x:x is not None,Original_list))

print("Original_list:")
print(Original_list)
print("Remove None values from the said list:")
print(filtered_list)

Original_list:
[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
Remove None values from the said list:
[12, 0, 23, -55, 234, 89, 0, 6, -12]